body{
    background-color: rgb(7, 7, 58);
    width: 100%;
    height: 100%;
}
main{
    display: flex;
    flex-direction: column;
    width: 1000px;
    margin: 10px auto;
    height: 1000px;
    border-radius: 5px;
    padding: 10px;
    background-color: darkcyan;
    justify-content: flex-start;
    align-items: center;
}
fieldset{
    border-color: black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}
.form1{
    background-color: dodgerblue;
    border-radius: 5px;
    box-sizing: border-box;
    height:300px;
    width: 50%;   
    padding: 10px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
}
form{
    height: 90%;
    width: 90%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
   
}
.submit{
    align-self: center;
    width: 25%;
    background-color:rgb(228, 255, 188);
}
.submit:hover{
   animation-duration: 1s;
   animation-fill-mode: forwards;
   animation-name: button-color;
}
@keyframes button-color{
    100%{
        background-color: greenyellow;
        transform: scale(1.2);
    }
}

footer{
    position: fixed;
    bottom: -45px;
    width: fit-content;
    left: 35%;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    animation-iteration-count: 1;
}
footer:hover{
    
    animation-name: raise-footer ;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes raise-footer{
    100%{
        bottom: 5px;
        background-color: gainsboro;
    }
}
@media only screen and (max-width: 460px){
   
   p{
       font-size: large;
   }
    body{
        max-height: 600px;
        max-width: 400px;
    }
}